@font-face {
    font-family: :"Figtree";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: "Figtree";
    src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
}